{
  "extends": "airbnb-base",

  "rules": {
    "semi": ["error", "never"],
    "no-shadow": ["error", { "allow": ["err"] }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js", "example.js"] }
    ],
    "comma-dangle": "off"
  },

  "env": {
    "mocha": true
  }
}
