{
  "extends": "airbnb-base",

  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },

  "rules": {
    "semi": ["error", "never"],
    "no-shadow": ["error", { "allow": ["err"] }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js", "example.js"] }
    ],
    "comma-dangle": "off"
  },

  "env": {
    "mocha": true,
    "es6": true,
    "node": true
  }
}
